.article_list{
    top: -52px;
    position: relative;
    margin-left: 400px;
    margin-top: 0px;
    margin-bottom: 50px;
    background-color: #ffffff;
    width: 700px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 50px;
    border-right:1px solid #c0c0c0;
    border-left:1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
}

.article_list > h3{
    position: relative;
    top: 10px;
    left: 5px;
    padding-right: 5px;
    padding-left: 5px;
    width: 200px;
    font-size: 20px;
    color: #000;
}

.article_list > .list-h3-below{
    position: relative;
    width: 699px;
    left: -10px;
    top: 5px;
}

.article_list > form{
    position: relative;
    top: 20px;
    left: -5px;
    padding-left: 5px;
    padding-right: 5px;
    width: 85px;
}

.article_list > .artli > li{
    position: relative;
    top: 45px;
    list-style: none;
}

.article_list > .artli > li > .post{
    position: relative;
    text-decoration: none;
    background-color: #fff;
    width: 698px;
    left: -42px;
    top: -10px;
    height: 150px;
    padding-left: 30px;
    padding-right: -50px;
    padding-top: 25px;
    padding-bottom: 30px;
    display: block;
    margin-top: -40px;
    font-weight:bold;
    transition: .2s;
    color: #49494d;
    border-top: 1px solid #c0c0c0;
}

.article_list > .artli > li > .post:hover{
    background-color: #e6e6e6;
}

.article_list > .artli > li > a > p{
    position: relative;
    width: 500px;
    font-size: 8px;
    color: #807376;
    top: 5px;
    margin-left: 450px;
}

.article_list > .artli > li > .update-link{
    position: relative;
    top: 29.5px;
    left: 577px;
    text-decoration: none;
    background-color: #7da2fa;
    color: #ffffff;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: .2s;
}

.article_list > .artli > li > .update-link:hover{
    background-color: #6685c6;
}

.article_list > .artli > li > .report-form{
    position: relative;
    top: 29.5px;
    left: 546px;
    text-decoration: none;
    background-color: #804d58;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: .2s;
}

.article_list > .artli > li > .report-form:hover{
    background-color: #663d46;
}

.article_list > .s-r{
    position: relative;
    margin-bottom: -140px;
}

.article_list > .s-r > .s-k-recruit{
    position: relative;
    left: 40px;
    height: 40px;
    width: 600px;
    border-radius: 5px;
    border-color: #c0c0c0;
}

.article_list > .s-r > .s-c-recruit{
    position: relative;
    margin-top: 20px;
    left: 50px;
    height:20px;
    width: 120px;
}

.article_list > .s-r > .s-n-recruit{
    position: relative;
    margin-top: 20px;
    top: -40px;
    left: 200px;
    height: 20px;
    width: 120px;
}

.article_list > .s-r > .s-v-recruit{
    position: relative;
    margin-top: 20px;
    top: -80px;
    left: 340px;
    height: 20px;
    width: 120px;
}

.article_list > .s-r > .s-h-recruit{
    position: relative;
    margin-top: 20px;
    top: -120px;
    left: 480px;
    height: 20px;
    width: 150px;
}

.article_list > .s-r > button{
    position: relative;
    top: -199px;
    left: 571px;
    height: 38px;
    width: 68px;
    margin-bottom: 0;
    border-radius: 1px;
    background-color: #ea5532;
    border-color: none;
}