.article_list{
    position: relative;
    margin-left: 400px;
    margin-top: 35px;
    margin-bottom: 50px;
    background-color: #ffffff;
    width: 700px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 50px;
    border-top:1px solid #c0c0c0;
    border-right:1px solid #c0c0c0;
    border-left:1px solid #c0c0c0;
}

.article_list > h3{
    position: relative;
    top: -50px;
    padding-right: 5px;
    padding-left: 5px;
    width: 85px;
}

.article_list > .artli > li{
    list-style: none;
    margin-top: -10px;
}

.article_list > .artli > li > .post{
    text-decoration: none;
    background-color: #f7f6fb;
    width: 600px;
    padding-left: 30px;
    padding-right: -50px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
    font-weight:bold;
    transition: .2s;
    color: #49494d;
}

.article_list > .artli > li > .post:hover{
    background-color: #e2e1e6;
}

.article_list > .artli > li > p{
    position: relative;
    width: 500px;
    font-size: 12px;
    color: #807376;
    top: -14px;
    margin-left: 354px;
}

.article_list > .artli > li > .update-link{
    position: relative;
    top: 29.5px;
    left: 577px;
    text-decoration: none;
    background-color: #7da2fa;
    color: #ffffff;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: .2s;
}

.article_list > .artli > li > .update-link:hover{
    background-color: #6685c6;
}

.article_list > .artli > li > .report-form{
    position: relative;
    top: 29.5px;
    left: 546px;
    text-decoration: none;
    background-color: #804d58;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: .2s;
}

.article_list > .artli > li > .report-form:hover{
    background-color: #663d46;
}