.article_list{
    top: -52px;
    position: relative;
    margin-left: 400px;
    background-color: #ffffff;
    width: 700px;
    padding-top: 30px;
    padding-left: 20px;
    padding-bottom: 30px;
    border-right:1px solid #c0c0c0;
    border-left:1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
}

.article_list > h3{
    position: relative;
    top: -42px;
    left: 5px;
    width: 200px;
    font-size: 20px;
    color: #000;
}

.article_list > .s-r-f{
    position: relative;
    top: -56px;
    left: -20px;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 30px;
    width: 701px;
    border-top: 1px solid #c0c0c0;
    margin-bottom: 50px;
}

.article_list > .contents > .content-list {
    position: relative;
    top: 0px;
    padding-bottom: 50px;
}

.article_list > .contents > .content-list > li{
    position: relative;
    list-style: none;
}

.article_list > .contents > .content-list > li > .post{
    position: relative;
    text-decoration: none;
    background-color: #fff;
    width: 700.5px;
    height: 200px;
    left: -60px;
    margin-top: -71px;
    margin-bottom: -20px;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 0px;
    display: block;
    transition: .4s;
    color: #49494d;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
}

.article_list > .contents > .content-list > li > .post:hover{
    background-color: #e6e6e6;
}

.article_list > .contents > .content-list > li > .post > .art-username{
    position: relative;
    top: -50px;
    margin-left: 570px;
    font-size: 18px;
}

.article_list > .contents > .content-list > li > .post > img{
    position: relative;
    left: 520px;
}

.article_list > .contents > .content-list > li > .post > .art-title{
    position: relative;
    top: -105px;
    font-size: 25px;
}

.article_list > .contents > .content-list > li > .post > .art-info1{
    position: relative;
    top: -110px;
}

.article_list > .contents > .content-list > li > .post > .art-info2{
    position: relative;
    top: -110px;
}

.article_list > .contents > .content-list > li > .post > .date{
    position: relative;
    top: -110px;
}

.article_list > .contents > .content-list > li > a > .id{
    position: relative;
    width: 500px;
    font-size: 8px;
    color: #807376;
    top: -120px;
    left: 425px;
}

.article_list > .contents > .content-list > li > .update-link{
    position: relative;
    top: 29.5px;
    left: 577px;
    text-decoration: none;
    background-color: #7da2fa;
    color: #ffffff;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: .2s;
}

.article_list > .contents > .content-list > li > .update-link:hover{
    background-color: #6685c6;
}

.article_list > .contents > .content-list > li > .report-form{
    position: relative;
    top: 29.5px;
    left: 546px;
    text-decoration: none;
    background-color: #804d58;
    color: #ffffff;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: .2s;
}

.article_list > .contents > .content-list > li > .report-form:hover{
    background-color: #663d46;
}

.article_list > .s-r-f > .s-r{
    position: relative;
    margin-bottom: -140px;
}

.article_list > .s-r-f > .s-r > .s-k-recruit{
    position: relative;
    height: 40px;
    width: 510px;
    left: 40px;
    border-radius: 20px;
    border: 1px solid #fff;
    border-color: #c0c0c0;
    padding-left: 10px;
}

.article_list > .s-r-f > .s-r > .s-c-recruit{
    position: relative;
    top:  10px;
    left: 60px;
    height:20px;
    width: 120px;
    border-radius: 10px;
    border-color: #c0c0c0;
}

.article_list > .s-r-f > .s-r > .s-n-recruit{
    position: relative;
    top: -10px;
    left: 200px;
    height: 20px;
    width: 120px;
    border-radius: 10px;
    border-color: #c0c0c0;
}

.article_list > .s-r-f > .s-r > .s-v-recruit{
    position: relative;
    top: -30px;
    left: 340px;
    height: 20px;
    width: 120px;
    border-radius: 10px;
    border-color: #c0c0c0;
}

.article_list > .s-r-f > .s-r > .s-h-recruit{
    position: relative;
    top: -65px;
    left: 480px;
    height: 20px;
    width: 120px;
    border-radius: 10px;
    border-color: #c0c0c0;
}

.article_list > .s-r-f > .s-r > button{
    position: relative;
    height: 40px;
    width: 68px;
    top: -100px;
    left: 430px;
    margin-bottom: 0;
    border-radius: 20px;
    background-color: #ea5532;
    border:1px solid #fff;
    transition: .4s;
}

.article_list > .s-r-f > .s-r > button:hover{
    background-color: #cc482b;
}