.m-thread-li{
    position: relative;
    margin-top: 35px;
    margin-left: 400px;
    margin-bottom: 100px;
    background-color: #fff;
    width:680px;
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 50px;
    border-top: 1px solid #c0c0c0;
    border-left: 1px solid #c0c0c0;
    border-right: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    font-weight: bold;
    color: #49494d;
}

.m-thread-li > h3{
    position: relative;
    left:40px;
    top:20px;
    width: 120px;
    padding-top: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 5px;
    margin-bottom: 30px;
    background-color: #ea5532;
    color: #ffff;
}

.m-thread-li > .thread-li > ul > li{
    position: relative;
    list-style: none;
    padding-left: 30px;
    padding-right: 30px;
}

.m-thread-li > .thread-li > ul > li > a{
    position: relative;
    background-color: #f7f6fd;
    text-decoration: none;
    display: block;
    width: 560px;
    left: -30px;
    padding-top: 10px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 10px;
    margin-top: 10px;
    color: #49494d;
}

.m-thread-li > .p-num-1{
    position: relative;
    padding-left: 325px;
}

.m-thread-li > .thread-f{
    position: relative;
    margin-top: 30px;
    left:40px;
}