.user-list{
    position: relative;
    margin-left: 400px;
    margin-top: 35px;
    margin-bottom: 200px;
    background-color: #fff;
    width: 700px;
    padding-left: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 1px solid #c0c0c0;
    border-top: 1px solid #fff;
    top: -87px;
}

.h4-hard{
    position: relative;
    width: 150px;
}

.open-check-hard{
    position: relative;
    top: -45px;
    left: 125px;
}

.u-s-hard{
    position: relative;
    top: -35px;
    height: 0px;
    opacity: 0;
    visibility: hidden;
    transition: .5s;
}

.open-check-character{
    position: relative;
    top: -125px;
    left: 125px;
}

.h4-character{
    position: relative;
    top: -80px;
    width: 150px;
}

.u-s-character{
    position: relative;
    top: -115px;
    opacity: 0;
    height: 0;
    visibility: hidden;
    transition: .5s;
}

.open-check-hard:checked + .u-s-hard{
    position: relative;
    opacity: 1;
    height: 30px;
    visibility: visible;
}

.open-check-character:checked + .u-s-character{
    position: relative;
    opacity: 1;
    height: 150px;
    margin-bottom: 30px;
    visibility: visible;
}

.user-search-f > button{
    position: relative;
    top: -125px;
}

.user-list > .u-list-h3{
    position: relative;
    top: -40px;
    font-size: 18px;
    padding-bottom: 0px;
    padding-top: 0px;
    padding-left: 0px;
}

.user-search-f{
    position: relative;
    border-top: 1px solid #c0c0c0;
    height: 200px;
    width: 672px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
    padding-bottom: 10px;
    top: -50px;
    left: -21px;
    transition: .5s;
}

.open-check-character:checked + .user-search-f{
    position: relative;
    height: 300px;
}

.user-list-ul > li{
    position: relative;
    list-style: none;
    top: -20px;
}

h4{
    font-size: 17px;
}

.user-list-ul > li > a{
    position: relative;
    background-color: #fff;
    display: block;
    width: 683.5px;
    height: 150px;
    top: -20px;
    left: -60px;
    padding-left: 20px;
    padding-right: 17px;
    padding-top: 7px;
    padding-bottom: 10px;
    margin-top: -10px;
    margin-bottom: -17px;
    text-decoration: none;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    color: #49494d;
    transition: .4s;
}

.user-list-ul > li > a:hover{
    position: relative;
    background-color: #e6e6e6;
}

.player-icon{
    position: relative;
    top: 0px;
    left: -5px;
}

.player-name{
    position: relative;
    top: -60px;
    left: 70px;
    font-size: 18px;
}

.any-info{
    position: relative;
    top: -55px;
}

.any-info2{
    position: relative;
    top: -60px;
}

.last-login{
    position: relative;
    top: -200px;
    left: 400px;
    font-size: 15px;
}