{% load static %}
<hmtl lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Gamate</title>
    <link rel=stylesheet type=text/css href="{% static 'css/base.css' %}" />
    <div class="m-bar">
        <div class="menu">
            {% if not user.is_authenticated %}
            <div class="log-in">
                <a href="{% url 'main:Login' %}">ログイン</a> &nbsp; 
            </div>
            <div class="sign-up">
                <a href="{% url 'main:Sign_Up' %}">サインアップ</a>
            </div>
            {% else %}
                <a href="{% url 'main:Logout' %}" class="logout">ログアウト</a>
            {% endif %}
        </div>
        <a href="{% url 'main:Index' %}" class="logo-index"><img src="{% static 'img/Gamate.png' %}" class="Gamate-logo"/></a>
    </div>
    {% block head %}
    {% endblock head %}
</head>
<body>
    <div class="main">
        <div class="side-menu">
            <ul class="m-li">
                <li>
                    <a href="{% url 'main:Index' %}">HOME</a>
                </li>
                <li>
                    <a href="{% url 'main:Create_Main' %}">募集する</a>
                </li>
                <li>
                    <a href="{% url 'main:Article_List' %}">みんなの募集</a>
                </li>
                <li>
                    <a href="">Search for Companion</a>
                </li>
                <li>
                    <a href="">Exchange info</a>
                </li>
                <li>
                    <a href="">Messages</a>
                </li>
                <li>
                    <a href="">Profile</a>
                </li>
                <li>
                    <a href="">Setting</a>
                </li>
            </ul>
        </div>
    </div>
    {% block body %}
    {% endblock body %}
</div>
</body>
</html>