{% extends 'base.html' %}
{% load static %}
{% block body %}
<center>
<div class="m-thread-comments-li">
    <div class="m-thread">
        <h2>{{ thread.title }}</h2>
        <p>作成者 : {{ thread.user }}</p>
    </div>
    <div class="th-comments-li">
        {% for comment in comment_list %}
        <ul class="comment-li">
            <li>
                <p>{{ comment.user.username }}</p>
                <p>{{ comment.about | linebreaksbr }}</p>
            </li>
        </ul>
        {% endfor %}
    </div>
    <div class="comments-f">
        <form method="POST" enctype="multipart/form-data" class="c-form">
            <div class="about">
                <p>書き込み欄</p>
                <p>{{ form.about }}</p>
            </div>
            <button type="submit">送信</button>
            {% csrf_token %}
        </form>
    </div>
</div>
</center>
{% endblock body %}