{% extends 'base.html' %}
{% block body %}
{% load static %}
<link rel=stylesheet type=text/css href="{% static 'css/form.css' %}" />
<div class="form">
    <form method="post" enctype="multipart/form-data" class="form_main">
        <div class="midashi">
            <h2>仲間を集めよう</h2>
        </div>
        <div class="title">
            <p>タイトル : {{ form.title }} (必須です)</p>
        </div>
        <div class="hard">
            <p>プレイ環境 : 
                {% for choice in form.hard %}
                {{ choice }}
                {% endfor %} 
            </p>
        </div>
        <div class="vc">
            <p>VC : 
                {% for vc in form.vc %}
                {{ vc }}
                {% endfor %}
            </p>
        </div>
        <div class="rnk">
            <p>下限ランク : {{ form.rnk_min }} ～ 上限ランク : {{ form.rnk_max }}</p>
        </div>
        <div class="num">
            <p>募集人数 : {{ form.num }}</p>
        </div>
        <div class="per">
            <p>モード : {{ form.per }}</p>
        </div>
        <div class="comments">
            <p>募集にあたって : </p>
            <p>{{ form.comments }}</p>
        <p>(※500文字以内)</p>
        </div>
        <button type="submit">投稿</button>
        {% csrf_token %}
    </form>
    
    <a href="{% url 'main:Index' %}">index</a>
{% endblock body %}

