{% extends 'base.html' %}
{% load static %}
{% block body %}
<link rel=stylesheet type=text/css href="{% static 'css/search.css' %}" />
<div class="news-main">
    <h2>掲示板一覧</h2>
    <div class="news-search">
        <form class="search-form" method="GET" action="{% url 'main:Thread_List' %}">
            <input class="t-box" type="text" name="keyword" placeholder="スレタイ検索">
            <button class="s-btn" type="submit">検索</button>
            {% csrf_token %}
        </form>
    </div>
    <div class="news-list">
        {% for list in object_list %}
        <ul class="news-ul">
            <li>
                <a href="{% url 'main:Thread_Detail' list.pk %}" class="news-thread">
                    {{ forloop.counter }} &nbsp;
                    スレタイ : {{ list.title }}
                    &nbsp; 作成日時 : {{ list.date }}
                </a>
            </li>
        </ul>
        {% endfor %}
    </div>
    <div class="news-create">
        <h3>新たにスレッドを作成する</h3>
    </div>
</div>
{% endblock body %}