{% extends 'base.html' %}
{% block body %}
{% load static %}
<link rel=stylesheet type=text/css href="{% static 'css/signup.css' %}" />
<div class="registration">
<div class="regform">
    <form action="" method="POST">    
        <h2>ユーザー情報登録</h2>
        <div class="username">
            <p>ユーザーネーム : {{ form.username }} ※30文字以内半角英数字</p>
        </div>
        <div class="user_id">
            <p>Apex内のプレイヤー名 : {{ form.player_name }} ※30文字以内</p>
        </div>
        <div class="email">
            <p>Email : {{ form.email }} ※必須です</p>
        </div>
        <div class="password1">
            <p>パスワード : {{ form.password1 }} ※半角英数字で8文字以上</p>
        </div>
        <div class="playfield">
            <p>プレイ環境 : 
                {% for pf in form.playfield %}
                    {{ pf }}
                {% endfor %} 
                ※任意</p>
        </div>
        <div class="rank">
            <p>ランク : {{ form.rank }}</p>
        </div>
        <div class="character">
            <p>よく使うレジェンド : 
                <div class="checks">
                {% for ch in form.character %}
                {{ ch }} &nbsp;
                {% endfor %}
                </div>
            </p>
        </div> 
        <div class="dis_id">
            <p>discord : {{ form.discord_id }} ※任意</p>
        </div>
        <div class="twiid">
            <p>Twitter : {{ form.twitter_id }} ※任意</p>
        </div>
        <div class="yturl">
            <p>YouTube : {{ form.Youtube_url }} ※任意</p>
        </div>
        <div class="icon">
            <p>ユーザーアイコン : {{ form.icon }} ※後から設定できます</p>
        </div>
        <div class="myself">
            <p>自己紹介 : </p>
            <p> {{ form.comments }}</br> ※後から設定できます</p>
        <button type="submit">登録</button>
        <input type="hidden" name="next" value="{{ next }}" />
        {% csrf_token %}
    </form>
</div>
</div>
{% endblock body %}

