{% extends 'base.html' %}
{% load static %}
{% block body %}
<link rel=stylesheet type=text/css href="{% static 'css/thread_list.css' %}" />
<div class="m-thread-li">
    <h1>情報交換掲示板</h1>
    <h2>スレッド一覧</h2>
    <div class="thread-li">
        <ul>
            {% for thread in threads %}
            <li>
                <a href="{% url 'main:Comments_List' thread.id %}">
                    題目 : {{ thread.title }}</br>
                    作成者 : {{ thread.user.username }} &nbsp; 最終更新 : {{ thread.update }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="p-num-1">
        {% if threads.has_previous %}
            <a href="?current_page={{ threads.previous_page_number }}" class="previous">Previous</a>
        {% endif %}
        <span class="page-num">
            {{ threads.number }} / {{ threads.paginator.num_pages }}
        </span>
        {% if threads.has_next %}
            <a href="?current_page={{ threads.next_page_number }}" class="next">Next</a>
        {% endif %}
    </div>

</br><hr>

    <h3>スレッド作成</h3>

    <div class="thread-f">
        <form method="POST" enctype="multipart/form-data" class="thread-c">
            <div class="title">
                <p>スレッド名 : {{ form.title }}</p>
            </div>
            <div class="about">
                <p>スレッドについて : </p>
                    <p>{{ form.about }}</p>
            </div>
            <button type="submit">作成</button>
            {% csrf_token %}
        </form>
    </div>
</div>
</center>
{% endblock body %}

