{% extends 'base.html' %}
{% load static %}
{% block body %}
<link rel=stylesheet type=text/css href="{% static 'css/user_list.css' %}" />
<div class="user-list">
    <h3 class="u-list-h3">プレイヤー検索</h3>
    <div class="user-search">
        <form class="user-search-f" method="GET" action="{% url 'main:User_List' %}">
            <input type="text" name="keyword" placeholder="ユーザー名 or プレイヤー名検索" class="input-keyword">
            <select class="user-search-rank" name="rank" class="u-s-rank">
                <option value="">ランク指定なし</option>
                <option value="ブロンズ4">ブロンズ4</option>
                <option value="ブロンズ3">ブロンズ3</option>
                <option value="ブロンズ2">ブロンズ2</option>
                <option value="ブロンズ1">ブロンズ1</option>
                <option value="シルバー4">シルバー4</option>
                <option value="シルバー3">シルバー3</option>
                <option value="シルバー2">シルバー2</option>
                <option value="シルバー1">シルバー1</option>
                <option value="ゴールド4">ゴールド4</option>
                <option value="ゴールド3">ゴールド3</option>
                <option value="ゴールド2">ゴールド2</option>
                <option value="ゴールド1">ゴールド1</option>
                <option value="プラチナ4">プラチナ4</option>
                <option value="プラチナ3">プラチナ3</option>
                <option value="プラチナ2">プラチナ2</option>
                <option value="プラチナ1">プラチナ1</option>
                <option value="ダイヤ4">ダイヤ4</option>
                <option value="ダイヤ3">ダイヤ3</option>
                <option value="ダイヤ2">ダイヤ2</option>
                <option value="ダイヤ1">ダイヤ1</option>
                <option value="マスター">マスター</option>
                <option value="プレデター">プレデター</option>
            </select>
            <div class="hard-select">
            <label id="open-check-label-1" for="open-check-1"><h4 class="h4-hard">プレイ環境指定</h4></label><input type="checkbox" class="open-check-hard" id="open-check-1">
            <div class="u-s-hard">
            <input type="checkbox" id="user-search-hard1" value="Switch" name="hard"><label class="" for="user-search-hard1">Switch</label>
            <input type="checkbox" id="user-search-hard2" value="PS4" name="hard"><label class="" for="user-search-hard2">PS4</label>
            <input type="checkbox" id="user-search-hard3" value="PS5" name="hard"><label class="" for="user-search-hard3">PS5</label>
            <input type="checkbox" id="user-search-hard4" value="PC" name="hard"><label class="" for="user-search-hard4">PC</label>
            <input type="checkbox" id="user-search-hard5" value="Xbox" name="hard"><label class="" for="user-search-hard5">Xbox</label>
            </div>
            </div>
            </br>
            <div class="character-select">
            <label id="open-check-label-2" for="open-check-2"><h4 class="h4-character">レジェンド指定</h4></label><input type="checkbox" class="open-check-character" id="open-check-2">
            <div class="u-s-character">
            <input type="checkbox" id="user-search-character1" value="ブラッドハウンド" name="character"><label class="" for="user-search-character1">ブラッドハウンド</label>
            <input type="checkbox" id="user-search-character2" value="ジブラルタル" name="character"><label class="" for="user-search-character2">ジブラルタル</label>
            <input type="checkbox" id="user-search-character3" value="ライフライン" name="character"><label class="" for="user-search-character3">ライフライン</label>
            <input type="checkbox" id="user-search-character4" value="パスファインダー" name="character"><label class="" for="user-search-character4">パスファインダー</label>
            <input type="checkbox" id="user-search-character5" value="レイス" name="character"><label class="" for="user-search-character5">レイス</br></label>
            <input type="checkbox" id="user-search-character6" value="バンガロール" name="character"><label class="" for="user-search-character6">バンガロール</label>
            <input type="checkbox" id="user-search-character7" value="コースティック" name="character"><label class="" for="user-search-character7">コースティック</label>
            <input type="checkbox" id="user-search-character8" value="ミラージュ" name="character"><label class="" for="user-search-character8">ミラージュ</label>
            <input type="checkbox" id="user-search-character9" value="オクタン" name="character"><label class="" for="user-search-character9">オクタン</label>
            <input type="checkbox" id="user-search-character10" value="ワットソン" name="character"><label class="" for="user-search-character10">ワットソン</label>
            <input type="checkbox" id="user-search-character11" value="クリプト" name="character"><label class="" for="user-search-character11">クリプト</label></br>
            <input type="checkbox" id="user-search-character12" value="レブナント" name="character"><label class="" for="user-search-character12">レブナント</label>
            <input type="checkbox" id="user-search-character13" value="ローバ" name="character"><label class="" for="user-search-character13">ローバ</label>
            <input type="checkbox" id="user-search-character14" value="ランパート" name="character"><label class="" for="user-search-character14">ランパート</label>
            <input type="checkbox" id="user-search-character15" value="ホライゾン" name="character"><label class="" for="user-search-character15">ホライゾン</label>
            <input type="checkbox" id="user-search-character16" value="ヒューズ" name="character"><label class="" for="user-search-character16">ヒューズ</label>
            <input type="checkbox" id="user-search-character17" value="ヴァルキリー" name="character"><label class="" for="user-search-character17">ヴァルキリー</label></br>
            <input type="checkbox" id="user-search-character18" value="シア" name="character"><label class="" for="user-search-character18">シア</label>
            <input type="checkbox" id="user-search-character19" value="アッシュ" name="character"><label class="" for="user-search-character19">アッシュ</label>
            <input type="checkbox" id="user-search-character20" value="マッドマギー" name="character"><label class="" for="user-search-character20">マッドマギー</label>
            </div>
            </div>
            </br>
            <button type="submit"><img src="{% static 'img/mushimegane.png' %}" height="20" width="20px"/></button>
        </form>
    </div>
    <div class="user-list-link">
        {% for list in object_list %}
        <ul class="user-list-ul">
            <li>    
            <a href="{% url 'main:User_Detail' list.pk %}" class="users">
                <p class="player-icon">{% if list.icon %}<img src="{{ list.icon.url }}" height="55px" width="55px"/>{% else %}<img src={% static 'img/icon_none.jpg' %} height="55px" width="55px" />{% endif %}</p>
                <p class="player-name">{{ list.username }}</p>
                <p class="any-info">RANK : {{ list.rank }} &nbsp; プレイ環境 : {% if not list.hard == null %}{% for hard in list.split_playfield %}{{ hard }}{% endfor %}{% endif %}</p>
                <p class="any-info2">よく使うレジェンド : 
                    {% for character in list.split_character %}
                    {{ character }}
                    {% endfor %}
                </p>
                <p class="last-login">最終ログイン : {{ list.last_login }}</p>
            </a>
            </li>
        </ul>
        {% endfor %}
    </div>
</div>
{% endblock body %}

